<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <fieldset>
        <legend>Search User</legend>
        <table>
            <tr>
                <td>
                    <input type="text" name="search">
                    <input type="button" id="ajaxSearch" value="Search">
                </td>
            </tr>
            
        </table>
    </fieldset>
</body>
</html>