<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    

    <form method="POST">
        <fieldset>
            <legend>Registration</legend>
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                    <td>
                        <% if(username != 'undefind'){ %>
                            <div style="color: orange; padding: 1px 3px;" role="alert"><%= username.msg %></div>
                            
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                    <td>
                        <% if(password != 'undefind'){ %>
                            <div style="color: orange; padding: 1px 3px;" role="alert"><%= password.msg %></div>
                            
                        <% } %>
                    </td>
                </tr>                
                <tr>
                    <td>Contact No:</td>
                    <td><input type="text" name="contact"></td>
                </tr>                
                <tr>
                    <td>User Roll:</td>
                    <td><input type="text" name="user_roll" value="customer"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><br><input class="btn btn-primary" type="submit" name="submit" value="Register" style="color: green;"></td>
                </tr>
            </table>

        </fieldset>
    </form>
    
</body>
</html>