<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worng!</title>
</head>
<body>
    <h1>Something went wrong!</h1>
    <p><a href="/home/login">Try again</a></p>
    <p><a href="/home/registration">Registration</a></p>
</body>
</html>